@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}


.banner {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.7)), url(dess-img/r5.jpeg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0;
    margin: 0;
}
nav .tags{
    text-align: center;
}

nav ul .bar {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li .sub {
color: #FEEFD8;
text-decoration: none;
letter-spacing: 1px;
font-size: 17px;
font-weight: bold;
transition: 0.3s;
}

nav ul li .sub:hover {
    color: #eb934f;
    text-decoration: overline #eb934f;
}

.social svg {
    width: 30px;
    height: 30px;
    fill: #FEEFD8;s
    transition: all 1s;
    margin-bottom: 20px;
}

.social svg:hover {
    fill: #eb934f;
    transform: scale(1.4);
}

.social-menu {
    position: absolute;
    display: block;
    align-items: center;
    float: left;
    margin-left: -320px;
    margin-top: 15px;
    list-style: none;
}

.card-container {
    display: grid;
    height: 420px;
    width: 500px;
}


.banner h1 {
    color: #FEEFD8;
    margin-top: 180px;
    letter-spacing: 1px;
    font-weight: 2rem;
    margin-bottom: 0.5em;
    transition: 0.6s ease-in-out;
}

.banner h1:hover {
    transform: scale(1.1);
    color: #eb934f;
}

.card-content {
    background: #fff;
    height: 330px;
    border-radius: 5%;
}

.card-content h3 {
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

form select, form input {
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    font-weight: 300;
}

select {
    width: 90%!important;
}

form input[type=text], form input[type=number], form input::placeholder, select {
    color: #9a9a9a;
}

form input[type=submit] {
    color: #fff;
    background: #eb934f;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

form input[type=submit]:hover {
    color: #ffffff;
    opacity: 0.9;
}


