@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@300&display=swap');
*{
    margin: 0.1em;
    padding-top: 0.1em;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}


.wrapper {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2100px;
    background: linear-gradient(rgba(69, 53, 29, 0.7), rgba(0, 0, 0, 0.716)), url(dess-img/r5.jpeg) center/cover no-repeat;
}

img {
    width: 200px;
    height: 2000p 
}

nav .tags{
    text-align: center;
}

nav ul .bar {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li .sub {
color: #FEEFD8;
text-decoration: none;
letter-spacing: 1px;
font-size: 17px;
font-weight: bold;
transition: 0.3s;

}

nav ul li .sub:hover{
    color: #eb934f;
    text-decoration: underline #eb934f;
}

.logo {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    transition: all 0.6s ease-in-out;
    border-radius: 50%;
}
.logo:hover {
    transform: translateY(-15px);
    opacity: 0.85;
}


h1 {
    margin-top: 1.4em;
    font-weight: 2em;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    color: #FEEFD8;
}

.main {
    margin-bottom: 3em;
    text-align:center;  margin-top: 1.4em;
    font-weight: 2rem;
    letter-spacing: 0.1em; 
    line-height: 1.3em;
    color: #FEEFD8;
}
.main:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

h2 {
    color: #eb934f;
    letter-spacing: 0.05em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;

}

p {
    text-align: center;
    margin: 2em;
    padding-bottom: 1em;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    color:#FEEFD8
       
}

#menu {
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-top: 2em;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(8, 13, 60, 0.1);
    border-top: 1px solid rgba(154, 154, 154, 0.5);
    border-left: 1px solid rgba(154, 154, 154, 0.5);
    backdrop-filter: blur(20px);

}

table, tr  {
    line-height: 2em;  
}



th {
    height: 8em;
}

.food {
    border-radius: 50%;
    padding-right: 2em;
    transition: all 1s;
}

.food:hover {
    filter: drop-shadow(2px 3px 3px #8c8a8a60);
    transform: scale(1.25);
}

.name {
font-size: 1.5rem;  
color: #FEEFD8;
width: 30%;
}



.desc {
    padding-top: 0.4em;
    color: #eb934f;
    font-size: 1.3rem;
    line-height: 1.5em;
    transition: all 2s;
    width: 120%;
}

.desc:hover {
    filter: drop-shadow(5px 5px 8px #ffffff58);
    transform: scale(1.25);
}

.price {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #FEEFD8;
}

.price:hover {
    text-decoration: underline #FEEFD8;
}

.social svg {
    width: 30px;
    height: 30px;
    fill: #FEEFD8;
    padding-left: 1em;
    transition: all 1s;
    }

.social svg:hover {
    fill: #eb934f;
    transform: scale(1.4);
}

.social-menu {
    position: absolute;
    display: block;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-right: 0;
    list-style: none;
}

.contact-info {
display: flex;
width: 70%;
align-items: center;
justify-content: center;
padding: 0 20px;
margin-left: 12em; }

.card {
    background: none;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 5px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEEFD8;
    cursor: pointer; }

.card-icon {
    font-size: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px !important;
    transition: 0.3s linear;
}


.card p {
    margin-top: 20px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: 0.3s linear;
    color: #FEEFD8; 
}

.card:hover p {
    max-height: 40px;
    opacity: 1; }